<!DOCTYPE html>
<html>
    <head>
        <title>Webgames!</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    </head>

    <body>
        <h1>Create or join room!</h1>

        <button id="createRoomButton">Create room</button>
        <label>Room code:</label>
        <input type="text" id="roomCodeInput">
        <button id="submitRoomCodeButton">Submit room code</button>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
    </body>
</html>